.graph {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    grid-column: 1;
    grid-row: 1 / 3;
    min-width: 40vw;
    padding: 1rem;
    box-sizing: border-box;
}