.exec-summary {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.score-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    font-size: 3cqi;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    box-sizing: border-box;
    
}

.score-card p {
    /* margin: 0; */
    margin: 5px 8px;
    min-width: 0;
}