.exec-summary {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.score-card {
    display: flex;
    flex-direction: column;
    width: 20%;
    /* border: 1pt solid #d9d9d9;
    border-radius: 10px;
    padding: 10px;
    background: white; */
}