#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

ExecSummary {
  display: flex;
}


.latest-posts-table {
  margin-top: 15px;
}

.container-style {
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  padding: 1rem;
  box-sizing: border-box;

}

.refresh-data {
  background: none;
}

.refresh-data img{
  height: 30px;
  width: 30px;
}