



.follower-counts-table {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
}

.follower-counts-container {
  grid-area: 2 / 1 / 3 / 3;
}

#interval-select {
  width: 10vw;
  border-radius: 5px;
  padding: 2px;
  background: var(--bg);
  color: var(--text);
  place-self: center;
}

ExecSummary {
  display: flex;
}


.latest-posts-table {
  margin-top: 15px;
}

.follower-counts-table {
  margin-top: 15px;
}

.container-style {
  border: var(--border);
  border-radius: 10px;
  background: var(--card);
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 100%;
  position: relative;
}

.refresh-data {
  background: none;
}

.refresh-data img {
  height: 30px;
  width: 30px;
}